body{
    background-color: beige;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fdfdfd;
}

.grid-item{
    grid-column: 1/4;
    text-align: center;
}

i{
    font-size: 50px;
}

a{
    color: black;
}

a:hover{
    color: black;
    text-decoration: none;
}

p{
    text-align: inherit;

}

img {
    max-width: 100%;
    height: auto;
}

iframe{
    width: auto;
    height: auto;
}

button{
    border: none;
    outline: none;
    background-color: inherit;
}

button:focus{
    outline: none;
    border: none;
}

@media only screen and (min-width: 768px){
    iframe{
        width: 700px;
        height: 400px;
    }

    button{
        margin-top: 11%;
    }
}