body{
    background-color: beige;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fdfdfd;
}

.grid-item{
    grid-column: 1/4;
    text-align: center;
}

i{
    font-size: 50px;
}

a{
    color: black;
}

a:hover{
    color: black;
    text-decoration: none;
}

p{
    text-align: inherit;

}

img {
    max-width: 100%;
    height: auto;
}

iframe{
    width: auto;
    height: auto;
}

button{
    border: none;
    outline: none;
    background-color: inherit;
}

button:focus{
    outline: none;
    border: none;
}

.fas {
    padding: 20px;
	font-size: 50px;
}

h1{
    color: white;
}

#bio{
    color: white;
    background-color: orangered;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

div h3, div a i{
    color: white;
}

div a i{
    margin-right: 20px;
}

#footer{
    background-color: black;
}

li{
    margin: inherit;
}

@media only screen and (min-width: 768px){
    iframe{
        width: 700px;
        height: 400px;
    }

    button{
        margin-top: 11%;
    }

    #bio{
        margin-left: 200px;
        margin-right: 200px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}